body {
  background-color: #e2e2e2;
  min-height: 100vh;
  box-sizing: border-box;
  border: 3px dashed #ff3300;
}

.header {
  padding: 10px;
  text-align: center;
  color: #d60909;
  border-bottom: 3px dashed #ff3300;
}

.remotes {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.remotes-col {
  width: 100%;
  margin: 10px;
  border: 3px dashed #38aadf;
}

.remotes-col h1 {
  text-align: center;
}