/* You can add global styles to this file, and also import other style files */
h1 {
    margin: 0%;
    padding: 20px 0;
    background-color: #9be1fd;
}

.ng-container {
    padding: 20px;
    min-height: 70vh;
    background-color: #bbcde6;
}